.tweets
  .tweet
    .tweet__upper
      .tweet__upper__name 名前
      .tweet__upper__time 時間
      .tweet__upper__tweet__show ツイート詳細
    .tweet__bottom__content ツイート
  .tweet
    .tweet__upper
      .tweet__upper__name 名前
      .tweet__upper__time 時間
      .tweet__upper__tweet__show ツイート詳細
    .tweet__bottom__content ツイート

