.page__title
  = current_user.nickname
.user__edit ユーザー情報を編集する

.tweets
  -@tweets.each do |tweet|
    .tweet
      .tweet__upper
        .tweet__upper__name
          =current_user.nickname
        .tweet__upper__time
          =tweet.created_at.strftime("%Y/%m/%d %H:%M")
        .tweet__upper__tweet__show < ツイート詳細 >
      .tweet__bottom__content
        =tweet.content
  =paginate(@tweets)
