.page__title
  = current_user.nickname
.user__edit
  =link_to "ユーザー編集(未完)",  edit_user_path(current_user)

.tweets
  -@tweets.each do |tweet|
    .tweet
      .tweet__upper
        .tweet__upper__name
          =current_user.nickname
        .tweet__upper__time
          =tweet.created_at.strftime("%Y/%m/%d %H:%M")
        .tweet__upper__tweet__show
          =link_to 'ツイート編集', "/tweets/#{tweet.id}/edit"
        .tweet__upper__tweet__destroy
          =link_to 'ツイート削除', "/tweets/#{tweet.id}",method: :delete
      .tweet__bottom__content
        =tweet.content
  =paginate(@tweets)
