
.tweets{
  height:100%;
  .edit_tweet{
    width:700px;
    margin:40px auto;
    .new__tweet__box{
      height:300px;
      width:700px;
      margin-bottom:20px;
      background-color:#F2F2F2;
      border:pink 2px solid;
      border-radius:5px;
      padding-left:20px;
      padding-right:20px;
      padding-top:10px;
      &__text{
        font-size:20px;
      }
    }
    .new__tweet__btn{
      background-color: #ee6e73;
      height: 60px;
      width:200px;
      text-align:center;
      margin:30px 250px;
      border:pink 5px solid;
      border-radius:20px;
      color:white;
      a{
        font-size:30px;
      }
    }
  }
}
