.users{
    width:700px;
    margin:30px auto 0;
  .user{
    display: flex;
    width:500px;
    margin:40px auto;
    margin-bottom:20px;
    background-color:#F2F2F2;
    border:pink 2px solid;
    border-radius:5px;
    font-size: 50px;
  }
}
